input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


header{
  box-sizing: border-box;
  background-color: #a73939;
  padding: 10px 25px 10px 25px;
  width: 100%;
  height: 106px;  
  position: fixed;
  top: 0px;
  text-align: center;
  z-index: 2;
}

main{
  margin-top: 7.5%;
  padding-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 25px;
}

#img_td{
	width: 10px;
}

#nombre_product_car{
	margin-left: 50px;
}

.img_car{
	margin: 10px 10px 10px 10px;
	height: 100px;	
}

#cont_producto{
	margin-top: 5%;
  	background-color: #666666;
}

.img_principal{
  height: 400px;
  width: 400px; 
}

#informacion{
  padding-top: 5%;
  padding-left: 10%;
}

#tabla{
  padding-top: 10%;
  text-align: center;
}
.img{
	width: 100px; 
 	height: 100px;
}

#cont_car{
  padding-top: 10%;
}

#carrito{
  border-radius: 20px;
  background-color: #543f94;
  padding: 2.5% 40% 2.5% 40% ;
  font-size:  220%;
}

#valor{
  font-size: 200%;
  color: #ff0000;
}
#pres{
  margin-bottom: auto;
  font-size: 100%;
}
#name{
  font-size: 220%;
}

#cantidad{
  display: inline-flex;
}

#text_cant{
  margin: 0px 0px 0px 0px; 
  width: 70px;
  text-align: center;
}

.fuera_stock{
  background-color: red;
  padding: 5px 5px 5px 5px;
  border-radius: 20px; 
}

.en_stock{
  background-color: green;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  margin-left: 75%;
}  

#cont{
  display: inline-flex;
  margin-top: 1px;
}

#descripcion{
  margin-left: 80px;
  width: 100%;
  margin-top: 40px;
  color: #ffffff; 
}

#img-produc{
  margin-top: 5%;
  margin-left: 10%;
}

.showpass{
  display: inline.flex; 
}

#busqueda{
  display: inline-block;
  width: 50%;
  text-align: center;
  margin-top: 2%;
}

#dc{
  border: 2px solid #272b30;
  border-radius: 3px;
  width: 70%;
  height: 30px;
}

#boton-busqueda{
  background-color: unset;
  border: unset;
  height: 30px;
  font-size: 18px;
}

.boton-vacio{
  background-color: unset;
  border: unset;
  height: 30px;
  float: right;
  font-size: 18px;
}

.boton-vacio-producto{
  background-color: unset;
  border: unset;
}

#usuario-busqueda{
  background-color: unset;
  border: unset;
  float: right;
}

.btnform{
  width: 200px;
}

#icon{
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  float: left;
}

#icon-mercado{
  padding: 5px;
  height: 50%;
  border-radius: 5px 5px 0px 0px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  border-left: 3px solid white;
  background-color: #1b1d21;
  color: white;
}

#icon-base{
  box-sizing: border-box;
  border-radius: 0px 0px 5px 5px;
  border-bottom: 3px solid #1b1d21;
  border-right: 3px solid #1b1d21;
  border-left: 3px solid #1b1d21;
  padding: 5px;
  height: 50%;
  background-color: white;
  color: #1b1d21;
}

.mercado-h:hover{
  color: #1b1d21;
}

.base-h:hover{
  color: white; 
}

.form_usuario{
  padding: 25px;
  background-color: #a7393991;
  border-radius: 25px;
  border: 5px solid #272b309e;
  margin: 25px 25% 25px 25%;
}

#usuario{
  font-size: 18px;
  color: black;
  float: right;
}

a:hover{
  text-decoration: none;
}

#producto{
  float: left;
}

.producto_tabla_informacion{
  vertical-align: middle !important;
}

.imagen_producto{
	box-sizing: border-box;
	height: 266px;
}

.producto_targeta{
  box-sizing: content-box;
  display: block;
  overflow: hidden;
}

#producto_target{
  box-sizing: content-box;
  display: block;
  overflow: hidden;
}

.img_carrusel{
	width: 100%;
	height: auto;
}

.carousel{
	text-align: center;
}

.card{
  transition: 0.3s;
}

.card:hover{
  box-shadow: 0.5px 0.5px 1px 2px #aaa;
}

.agregar{
	cursor: pointer;
}

.agregar2{
  cursor: pointer; 
}

.variacion-canta-producto{
	background-color: unset;
  border: unset;
  border-bottom: 4px solid #a73939;
  border-radius: unset !important;
  color: #aaa;
  text-align: center;
}